<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdu.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.qdu.bean.Emp" >
    <id column="empid" property="empid" jdbcType="INTEGER" />
    <result column="empname" property="empname" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="hiredate" property="hiredate" jdbcType="VARCHAR" />
    <result column="sal" property="sal" jdbcType="VARCHAR" />
    <result column="leavedate" property="leavedate" jdbcType="VARCHAR" />
    <result column="jobId" property="jobid" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="jobName" property="jobName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    empid, empname, idcard, sex, email, loc, phone, hiredate, sal, leavedate, jobId, 
    state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    empid, empname, idcard, sex, email, loc, phone, hiredate, sal, leavedate, e.jobId,
    state, j.jobName
    from emp e left join job j on e.jobid = j.jobId
    where  empid = #{empid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp
    where empid = #{empid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qdu.bean.Emp" >
    insert into emp (empid, empname, idcard, 
      sex, email, loc, phone, 
      hiredate, sal, leavedate, 
      jobId, state)
    values (#{empid,jdbcType=INTEGER}, #{empname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{hiredate,jdbcType=VARCHAR}, #{sal,jdbcType=VARCHAR}, #{leavedate,jdbcType=VARCHAR}, 
      #{jobid,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qdu.bean.Emp" >
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        empid,
      </if>
      <if test="empname != null" >
        empname,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="loc != null" >
        loc,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="hiredate != null" >
        hiredate,
      </if>
      <if test="sal != null" >
        sal,
      </if>
      <if test="leavedate != null" >
        leavedate,
      </if>
      <if test="jobid != null" >
        jobId,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="empname != null" >
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=VARCHAR},
      </if>
      <if test="sal != null" >
        #{sal,jdbcType=VARCHAR},
      </if>
      <if test="leavedate != null" >
        #{leavedate,jdbcType=VARCHAR},
      </if>
      <if test="jobid != null" >
        #{jobid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdu.bean.Emp" >
    update emp
    <set >
      <if test="empname != null" >
        empname = #{empname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        hiredate = #{hiredate,jdbcType=VARCHAR},
      </if>
      <if test="sal != null" >
        sal = #{sal,jdbcType=VARCHAR},
      </if>
      <if test="leavedate != null" >
        leavedate = #{leavedate,jdbcType=VARCHAR},
      </if>
      <if test="jobid != null" >
        jobId = #{jobid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where empid = #{empid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdu.bean.Emp" >
    update emp
    set empname = #{empname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      hiredate = #{hiredate,jdbcType=VARCHAR},
      sal = #{sal,jdbcType=VARCHAR},
      leavedate = #{leavedate,jdbcType=VARCHAR},
      jobId = #{jobid,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where empid = #{empid,jdbcType=INTEGER}
  </update>

  <select id="select" resultMap="BaseResultMap" parameterType="emp" >
    select
   empid, empname, idcard, sex, email, loc, phone, hiredate, sal, leavedate, e.jobId,
    state, j.jobName
    from emp e left join job j on e.jobid = j.jobId
    <where>
      <if test="empname!=null and empname !=''">
        empname like '%${empname}%'
      </if>
      <if test="jobid!=null and jobid !=''">
        and e.jobId=#{jobid}
      </if>
      <if test="hiredateStart!=null and hiredateStart !=''">
        and hiredate>=#{hiredateStart}
      </if>
      <if test="hiredateEnd!=null and hiredateEnd !=''">
        and hiredate <![CDATA[<=]]> #{hiredateEnd}
      </if>
    </where>
  </select>

</mapper>